@import "variables";

body {
	font-family: "General Sans Variable";
	margin: 0;
	padding: 0;
	text-align: left;
	background-color: $neutral-100;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: $neutral-900;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	color: $neutral-900;
}
a {
	color: $primary-500;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: $neutral-200;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid $neutral-300;
	color: $neutral-900;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}
a {
    display: inline-block;
    text-decoration: none;
}
a.active {
    font-weight: bolder;
    text-decoration: underline;
}