// Neutral
$neutral-50: #EEEFF0;
$neutral-100: #CACCD2;
$neutral-200: #B1B3BC;
$neutral-300: #8D909D;
$neutral-400: #777B8A;
$neutral-500: #555A6D;
$neutral-600: #4D5263;
$neutral-700: #3C404D;
$neutral-800: #2F323C;
$neutral-900: #24262E;

// Primary
$primary-50: #EBEFFF;
$primary-100: #C0CCFF;
$primary-200: #A1B4FF;
$primary-300: #7692FF;
$primary-400: #5C7DFF;
$primary-500: #335CFF;
$primary-600: #2E54E8;
$primary-700: #2441B5;
$primary-800: #1C338C;
$primary-900: #15276B;

// Secondary
$secondary-50: #FBF0E6;
$secondary-100: #F4D2B2;
$secondary-200: #EEBC8C;
$secondary-300: #E79D58;
$secondary-400: #E28A38;
$secondary-500: #DB6D06;
$secondary-600: #C76305;
$secondary-700: #9B4D04;
$secondary-800: #783C03;
$secondary-900: #5C2E03;

/* UNUSED
// Success/Warning/Error
$success: #40B056;
$warning: #F0E34C;
$error: #EA4D4D;
*/